{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center;">Add Task</h2>
    <style>
        .box{
            margin-left: 25px;
        }
    </style>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3 box">
            <label for="exampleFormControlTextarea1" class="form-label">Task</label>
            <textarea class="form-control" name="task" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
        
        <div class="mb-3 box">
            <label class="form-label">Start Date</label>
            <input type="date" name="start_date">
        </div>
        
        <div class="mb-3 box">
            <label class="form-label">End Date</label>
            <input type="date" name="end_date">
        </div>

        <div class="form-group box">
            <label for="exampleFormControlFile1">Task Image</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" accept="image/*" name="image">
        </div>
        {% if admin %}
            <select class="form-select box" aria-label="Default select example" style="display: block; width: 200px; margin-top: 10px;" name="userid" >
                <option selected>Users</option>
                {% for user in users %}
                    <option value="{{user.id}}">{{user.username}}</option>
                {% endfor %}
            </select>
        {% endif %}
        <br>
        <button type="submit" class="btn btn-warning box">Submit</button>
    </form>
{% endblock %}
