{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 style="text-align: center;">Change Password</h2>
        <form method="POST">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Old Password</label>
                <input type="password" class="form-control" name="old_pass">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="password2">
            </div>
            <button type="submit" class="btn btn-success">Send OTP</button>
        </form>
    </div>
{% endblock %}