{% extends 'base.html' %}

{% block content %}
<style>
    td{
        vertical-align: middle;
    }
</style>
<div class="container mt-4">
    <h3>{{title}}</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Assigned To</th>
                    <th scope="col">Assigned By</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Creation DT</th>
                    <th scope="col">Task</th>
                    <th scope="col">Status</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for data in full_list %}
                    <tr>
                        <td>{{ data[1].id }}</td> <!-- ID -->
                        <td>{{ data[0] }}</td> <!-- Assigned To (user) -->
                        {% if data[3].role == "admin" %}
                            <td style="background-color: #fa4848;">{{ data[3]['username'] }}</td> <!-- Assigned By -->
                        {% else %}
                            <td style="background-color: #4ef554;">{{ data[3]['username'] }}</td> <!-- Assigned By -->
                        {% endif %}
                        <td>{{ data[1].start_date }}</td> <!-- Start Date -->
                        <td>{{ data[1].end_date }}</td> <!-- End Date -->
                        <td>{{ data[1].currentdt }}</td> <!-- End Date -->
                        <td>{{ data[1].task }}</td> <!-- Descr. -->
                            {% if data[1].status == "Pending" %}
                                <td style="background-color: #ffff7f;">{{ data[1].status }}</td> <!-- Status Complete -->
                            {% else %}
                                <td style="background-color: #9efc68;">{{ data[1].status }}</td> <!-- Status Pending -->
                            {% endif %}
                        <td>
                            {% if data[2] %}
                                <img src="data:image/jpeg;base64,{{ data[2] }}" width="100">
                            {% else %}
                                No Image Inserted
                           {% endif %}
                        </td>  
                        <td>
                            <form method="post" action="{{ url_for('delete_task', task_id=data[1].id) }}" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this task?')">
                                    Delete
                                </button>
                            </form>
                            
                            <a href="{{ url_for('update_task', task_id=data[1].id) }}" class="btn btn-warning btn-sm ms-2">
                                Update
                            </a>
                            
                            {% if data[1].status == "Pending" %}
                            <a href="{{ url_for('mark_complete', task_id=data[1].id) }}" class="btn btn-info btn-sm ms-2" onclick="return confirm('Are you sure you want mark this task complete?')" style="margin: 10px 15px;">
                                Mark Complete
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-start mt-3">
        <a href="{{ url_for('add_task') }}" class="btn btn-success">
            Add Task
        </a>
    </div>
</div>
{% endblock %}
