{% extends 'base.html' %}

{% block content %}
<style>
    th,td{
        vertical-align: middle;
    }
    .c{
        margin: 15px;
    }
    a{
        color: white;
        text-decoration: none;
    }
</style>
<div class="c">
    <h2>{{title}}</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">
                        <a href="/tasks?sort_by=id">#</a>
                    </th>
                    <th scope="col">
                        <a href="/tasks?sort_by=assigned_to">Assigned To</a>
                    </th>
                    <th scope="col">
                        <a href="/tasks?sort_by=assigned_by">Assigned By</a>
                    </th>
                    <th scope="col">
                        <a href="/tasks?sort_by=start_date">Start Date</a>
                    </th>
                    <th scope="col">
                        <a href="/tasks?sort_by=end_date">End Date</a>
                    </th>
                    {% if current_user.role == "admin" %}
                        <th scope="col">Creation DT</th>
                    {% endif %}
                    <th scope="col">Task</th>
                    <th scope="col">
                        <a href="/tasks/?sort_by=status">Status</a>
                    </th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for data in full_list %}
                    <tr>
                        <td>{{ data[1].id }}</td> <!-- ID -->
                        <td>{{ data[0] }}</td> <!-- Assigned To (user) -->
                        <td >{{ data[3].first_name }} {{ data[3].last_name }}</td> <!-- Assigned By -->
                        <td>{{ data[1].start_date }}</td> <!-- Start Date -->
                        <td>{{ data[1].end_date }}</td> <!-- End Date -->
                        {% if current_user.role == "admin" %}
                            <td>{{ data[1].currentdt }}</td> 
                        {% endif %}
                        <td>{{ data[1].task }}</td> <!-- Descr. -->
                            {% if data[1].status == "Pending" %}
                                <td style="background-color: #ffff7f;">{{ data[1].status }}</td> <!-- Status Complete -->
                            {% else %}
                                <td style="background-color: #9efc68;">{{ data[1].status }}</td> <!-- Status Pending -->
                            {% endif %}
                        <td>
                            {% if data[2] %}
                                <img src="data:image/jpeg;base64,{{ data[2] }}" width="100">
                            {% else %}
                                No Image Inserted
                           {% endif %}
                        </td>  
                        <td>
                            {% if current_user.id == data[3].id or current_user.role == "admin" %}
                                <form method="post" action="{{ url_for('delete_task', task_id=data[1].id) }}" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this task?')">
                                        Delete
                                    </button>
                                </form>
                                
                                <a href="{{ url_for('update_task', task_id=data[1].id) }}" class="btn btn-warning btn-sm ms-2">
                                    Update
                                </a>
                            {% endif %}
                            {% if data[1].status == "Pending" %}
                                <a href="{{ url_for('mark_complete', task_id=data[1].id) }}" class="btn btn-info btn-sm ms-2" onclick="return confirm('Are you sure you want mark this task complete?')">
                                    Mark Complete
                                </a>
                            {% endif %}

                            {% if current_user.role == "admin" %}
                                <a href="{{ url_for('reassign_task',task_id=data[1].id) }}" class="btn btn-dark btn-sm ms-2">
                                Reassign
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-start mt-3">
        <a href="{{ url_for('add_task') }}" class="btn btn-success">
            Add Task
        </a>
    </div>
</div>
{% endblock %}
