{% extends 'base.html' %}

{% block content %}
    <h3 style="text-align: center;">Update Task</h3>
    <style>
        .box{
            margin-left: 25px;
        }
    </style>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3 box">
            <label for="exampleFormControlTextarea1" class="form-label">Task</label>
            <textarea class="form-control" name="task" id="exampleFormControlTextarea1" rows="3">{{task.task}}</textarea>
        </div>

        {% if task.assigned_by == current_user.id or current_user.role == "admin" %}
            <div class="mb-3 box">
                <label class="form-label">Start Date</label>
                <input type="date" name="start_date">
            </div>
            
            <div class="mb-3 box">
                <label class="form-label">End Date</label>
                <input type="date" name="end_date">
            </div>
        {% endif %}

        <div class="form-group box">
            <label for="exampleFormControlFile1">Update Task Image</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" accept="image/*" name="image">
        </div>
        <button type="submit" class="btn btn-success box">Submit</button>
    </form>
{% endblock %}
