{% extends 'base.html' %}

{% block content %}
    {% if admin %}
        <h3 style="text-align: center;">Users</h3>
        <div class="container mt-4">
            <div class="table">
            <table class="table table-bordered table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">Role</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <form method="post" action="{{ url_for('change_role', user_id=user.id) }}" style="display:inline;">
                                <button type="submit" class="btn btn-warning btn-sm" onclick="return confirm('Are you sure you want to the role of this user')">
                                    Change Role
                                </button>
                            </form>

                            <a type="submit" href="{{ url_for('delete_user',user_id=user.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this user')" style="margin: 5px 15px;">
                                    Delete
                            </a>

                            <a type="submit" href="{{ url_for('view_user_tasks',user_id=user.id) }}" class="btn btn-info btn-sm">
                                    View Tasks
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
        </div>
    {% endif %}
{% endblock %}