{% extends 'base.html' %}

{% block content %}
    {{ csrf_input }}
    <style>
        .box{
            margin-left: 25px;
            margin-right: 100px;
        }
        small, label{
            user-select: none;
            user-select: none; 
            -webkit-user-select: none; 
            -moz-user-select: none;    
            -ms-user-select: none;
        }
        .fixedw{
            width: 50vw;
        }
        form, .center{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>

    <div>
        <h2 class="center">Verify Authority</h2>

        <form method="POST" enctype="multipart/form-data" action="{{url_for('board.verify_wave',board_id=board_id)}}">
            <div class="form-row">
                <div class="col-md-4 mb-3">  
                    <label for="exampleInputPassword1" style="margin-top: 10px;">Room Code</label>
                    <input class="form-control fixedw"  id="password" placeholder="Room Code" style="margin-bottom: 10px;" name="room_code" value="{{room_code}}">
                </div>

                <div class="col-md-4 mb-3">  
                    <label for="exampleInputPassword1" style="margin-top: 10px;">Password</label>
                    <input type="password" class="form-control fixedw"  id="password" placeholder="Password" style="margin-bottom: 10px;" name="password">
                </div>
            
                <button class="btn btn-success" type="submit"  style="margin-top: 10px; margin-bottom: 50px;">Enter Wave</button>
            </div>
        </form>
    </div>
{% endblock %}
